API_PORT=8002
MONGO_HOST=taxi-mongo
MONGO_PORT=27017
MONGO_DB=taximongo
REDIS_HOST=taxi-redis
REDIS_PORT=6379
CACHE_USER_TTL=300
CACHE_ACTIVE_TRIPS_TTL=30
RATE_LIMIT_WINDOW=60
RATE_LIMIT_TRIPS=100
RATE_LIMIT_TRIPS_PREMIUM=1000
